.semaphore {
    border: solid black 1px;
    width: 120px;
    margin: 150px auto auto;
    height: 340px;
    background-color: black;
    border-radius: 20px;
}

.color {
    width: 100px;
    margin: 10px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

@font-face {
    font-family: times-sqare;
    src: url('asserts/fonts/Times_Square/TIMES_SQ.TTF');
}

.countdown {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 80px;
    padding-top: 7px;
    font-family: times-sqare, Serif;
}

#green-light {
    background-color: #003000;
}

#yellow-light {
    background-color: #303000;
}

#red-light {
    background-color: #300000;
}