.semaphore {
    border: solid greenyellow 2px;
    width: 120px;
    margin: 10px;
    height: 340px;
    background-color: black;
    border-radius: 20px;
    float: left;
}

.container {
    border: solid blue 2px;
    margin: auto;
    display: inline-block;
}

.color {
    width: 100px;
    margin: 10px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    color: white;
    text-align: center;
    font-size: 80px;
    font-family: times-sqare, Serif;
    text-align-all: center;
}

@font-face {
    font-family: times-sqare;
    src: url('asserts/fonts/Times_Square/TIMES_SQ.TTF');
}


.green {
    background-color: #003000;
}

.yellow {
    background-color: #303000;
}

.red {
    background-color: #300000;
}

.red-on {
    background-color: red;
}

.yellow-on {
    background-color: yellow;
}

.green-on {
    background-color: green;
}