@font-face {
    font-family: times-sqare;
    src: url('asserts/fonts/Times_Square/TIMES_SQ.TTF');
}
.semaphore {
    border: solid greenyellow 2px;
    width: 120px;
    margin: 10px;
    height: 340px;
    background-color: black;
    border-radius: 20px;
    float: left;
}

.semaphore.horizontal {
    width: 360px;
    height: 120px;
    display: flex;
}

.semaphore.small {
    border: solid greenyellow 1px;
    width: 12px;
    height: 34px;
    border-radius: 2px;
}


.container {
    border: solid blue 2px;
    margin: auto;
    display: inline-block;
}

.color {
    width: 100px;
    margin: 10px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    color: white;
    text-align: center;
    font-size: 80px;
    font-family: times-sqare, Serif;
    line-height: 95px;
}

.semaphore.small .color{
    width: 10px;
    margin: 1px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    font-size: 0;
}



.green {
    background-color: #005000;
}

.yellow {
    background-color: #505000;
}

.red {
    background-color: #500000;
}

.red.on {
    background-color: #ff0000;
}

.yellow.on {
    background-color: #ffff00;
}

.green.on {
    background-color: #00ff00;
}